<h1>Good Vurger</h1>

<h3>Vegetarian Burgers that your carnivorous friends will love.</h3>
<div class="plate">
	<h5>plate</h5>
	<ul>
		{{#each burgers}}
		{{#unless this.devoured}}
		<li>
			<button class="devour" data-id='{{this.id}}'>devour</button>
			<p>Burger: {{this.burgerStyle}}</p>
		</li>
		{{/unless}}
		{{/each}}
	</ul>
</div>

{{!-- <h1>Burgers to {{devour}}</h1> --}}
<div class="belly">
	<h5>belly</h5>
</div>
<ul>
	{{#each burgers }}
	{{#if this.devoured}}
	<li>{{this.burgerStyle}}</li>
	{{/if}}
	{{/each}}
</ul>

<form action="/" method="POST">
	<textarea type="text" name="burger"></textarea>

	<button type="submit">Submit</button>
</form>

<script>
	$(document).ready(function () {
		$(".devour").on("click", function (event) {
			event.preventDefault()
			const id = $(this).attr("data-id")
			console.log($(this).attr("data-id"))
			$.ajax({
				method: "PUT",
				url: `/api/${id}`
			}).then(function (res) {
				location.reload()
			})
		})
	})

</script>