<div class="row">
	<h1>Good Vurger</h1>
</div>
<hr>
<div class="row">
	<h3>Vegetarian Burgers that your carnivorous friends will love.</h3>
	<br>
	<p>If you don't see a burger you like, please suggest it and if we have the ingredients we will add it to our menu!
	</p>
</div>

<div class="row">
	<div class="col-12-lg">
		<div class="submissionInput">
			<form action="/api" method="POST">
				<textarea type="text" name="burgerNew" id="newBurgerTextField"></textarea>
				<button id="menuAdd" type="submit">Submit</button>
			</form>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-5-md">
		<div class="burgersAvailable">
			<h5>Burgers Available to eat</h5>
			<ul>
				{{#each burgers}}
				{{#unless this.devoured}}
				<li>
					<p>{{this.burgerStyle}}</p>
					<button class="devour" data-id='{{this.id}}'>devour</button>
				</li>
				{{/unless}}
				{{/each}}
			</ul>
		</div>
	</div>

	{{!-- <h1>Burgers to {{devour}}</h1> --}}
	<div class="col-5-md">
		<div class="belly">
			<h5>Burgers you have eaten</h5>
			<ul>
				{{#each burgers }}
				{{#if this.devoured}}
				<li>{{this.burgerStyle}}</li>
				{{/if}}
				{{/each}}
			</ul>
		</div>
	</div>
	<div class="col-2-md">
		<img src="../assets/veggieburgerimage.jpg" alt="burger holding a veggie burger sign" width="300">
	</div>
</div>

<script>
	$(document).ready(function () {
		//add
		$("#menuAdd").on("click", function (event) {
			event.preventDefault()
			// const id = $(this).attr("data-id")
			// console.log($(this).attr("data-id"))

			const newBurger = { burgerStyle: $('#newBurgerTextField').val() }
			$.ajax({
				method: "POST",
				url: `/api`,
				data: newBurger
			}).then(function (res) {
				location.reload()
			})
		})
		//devour
		$(".devour").on("click", function (event) {
			event.preventDefault()
			const id = $(this).attr("data-id")
			// console.log($(this).attr("data-id"))
			$.ajax({
				method: "PUT",
				url: `/api/${id}`
			}).then(function (res) {
				location.reload()
			})
		})
	})

</script>