body {
  background-color: lightgoldenrodyellow;
  padding: 20px;
  margin: 20px;
  align-content: center;
}

h1 {
  align-content: center;
}

.submissionInput {
  width: 100%;
}

.devour {
  margin-top: 10px;
  color: white;
  background-color: navy;
  align: center;
  width: 90%;
}

li {
  background-color: lightyellow;
  margin-bottom: 5px;
  padding: 10px;
  width: 90%;
  font-family: sans-serif;
  border-color: navy;
  border-width: 5px;
}

.burgersAvailable {
  padding-top: 20px;
}

.belly {
  padding-top: 20px;
}

img {
  padding: 25px;
}

.belly {
  margin-left: 30px;
  margin-right: 10px;
}

.burgersAvailable {
  margin-left: 10px;
  margin-right: 10px;
}
